.reasons {
    padding: 2em 0;
    position: relative;
    background-color: #F2F4F9;
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 55%;
        height: 100%;
        background-color: #4069A7;
        z-index: 0;
        @media only screen and (max-width: $break-point4) {
            height: 67%;
            width: 100%;
            top: 33%; 
        }
        @media only screen and (max-width: $break-point8) {
            height: 80%;
            width: 100%;
            top: 23%;
        }
    }
    .container {
        display: grid;
        grid-template-columns: 6fr 4fr;
        align-items: center;
        @media only screen and (max-width: $break-point4) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @media only screen and (max-width: $break-point4) {
            max-width: 80%;
        }

        &__qutes {
            color: white;
            display: flex;
            flex-wrap: wrap;
            @media only screen and (max-width: $break-point4) {
                order: 1;
                flex-direction: column;
                margin-right: 0;
            }
           
            .item {
                position: relative;
                max-width: 300px;
                margin-top: 5em;
                margin-right: 3em;;
                @media only screen and (max-width: $break-point4) {
                    margin-right: 0;
                }
                p {
                    font-weight: 200;
                }
                svg {
                    position: absolute;
                    top: -50px;
                    left: -24px;
                }
            }
        }
        &__reasons {
            z-index: 2;
            max-width: 400px;
            position: relative;
        
           
            p {
                color: #75ACFF;
                font-size: 1em;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                margin: 0;
            }
            h3 {
                margin-top: 10px;
                font-size: 2.5em;
                @media only screen and (max-width: $break-point8) {
                    font-size: 1.5em;
                }
            }
            .button {
                background-color: #F5841F;
                color: white;
                border-color: #F5841F;
                cursor: pointer;
            }
        }
    }
}


.form {
    position: relative;
    @media only screen and (max-width: $break-point4) {
        margin-top: 37em;
    }
    @media only screen and (max-width: $break-point8) {
        margin-top: 15em;
    }
 
    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        background-color: #1D2B46;
        @media only screen and (max-width: $break-point4) {
            width: 100%;
        }
    }
    .video {
        position: absolute;
        width: 60%;
        right: 0;
        height: 100%;
        top: -75px;
        @media only screen and (max-width: $break-point4) {
            top: -100%;
            width: 100%;
            height: 100%;
        } 
        @media only screen and (max-width: $break-point8) {
            height: 40%;
            top: -40%;
        }
    }
    .container {
        .action {
            width: 50%;
            padding: 4em 0;
            @media only screen and (max-width: $break-point4) {
                width: 70%;
                margin: 0 auto;
                padding: 4em 0;
            }
            p {
                color: #75ACFF;
                font-size: 1em;
                letter-spacing: 0.3em;
                text-transform: uppercase;
                margin: 0;
            }
            h3 {
                margin-top: 10px;
                font-size: 2.5em;
                margin-bottom: 0;
                color: white;
                font-weight: lighter;
                @media only screen and (max-width: $break-point8) {
                    font-size: 1.5em;
                }
            }
            form {
                margin-top: 1em;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: auto;
                margin-right: auto;
                width: 70%;
                @media only screen and (max-width: $break-point4) {
                    width: 100%;
                }
                input {
                    outline: none;
                    background-color: transparent;
                    border: none;
                    position: relative;
                    z-index: 101;
                    width: 100%;
                    margin-top: 1em;
                    color: white;
                    font-size: 1em;
                }
              
                [id=Phone]:focus:invalid ~ label::before {
                    content: 'Неверный формат номера телефона';
                    position: absolute;
                    color: #F5841F;
                    bottom: 100%;
                }
               label {
                   position: relative;
                   width: 100%;
                    margin-top: 2em;
                    display: block;
                    color: rgb(207, 207, 207);
               }
                label::after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        bottom: -200%;
                        border-bottom:1px solid rgb(207, 207, 207);
                        display: block;
                       
                    }
            }
            .button {
                margin-top: 30px;
                margin-right: auto;
            }
        }
    }
}


.countdown {
    padding: 3em 0;
    position: relative;
    .background {
        position: absolute;
        width: 50%;
        height: 170%;
        right: 0;
        top: -110px;
        background-color: #4069A7;
        z-index: -1;
        @media only screen and (max-width: $break-point4)  {
            width: 100%;
            height: 60%;
            right: 0;
            top: 164px;
        }
        @media only screen and (max-width:$break-point8) {
            height: 80%;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: $break-point4)  {
            flex-direction: column;
        }
        h3 {
            font-size: 2em;
            text-transform: uppercase;
            font-weight: lighter;
            margin-top: 10px;
            max-width: 300px;
        }
        .days {
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width:$break-point8) {
                flex-direction: column;
            }
            &__card {
                background-color: white;
                width: 150px;
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-left: 15px;
                @media only screen and (max-width:$break-point8) {
                    margin-top: 15px;
                }
                .number {
                    font-size: 5em;
                    margin: 0;
                }
                .progressbar {
                    width: 50%;
                    height: 2px;
                    position: relative;
                    border-radius: 10px;
                    border: 1px solid rgb(90, 90, 90);
                    background-color: rgb(206, 206, 206);
                    span {
                        display: block;
                        width: 30%;
                        height: 100%;
                        position: relative;
                        background-color: blue;
                        
                    }
                }
            }
        }
    }
}

